---
layout: index
---
<div class="hero-unit">
<h1>Computer meets <font color="#669900">Android.</font></h1>
<br/>
<p>

	Remoteroid is a remote control solution for Android platform, including features like Drag-and-drop file transfer and delivering phone's notifications(Incoming call, Message, Notification from 3rd-party apps, etc.) to a computer.

</p>

<a class="btn btn-primary btn-large pull-right" href="what-is-remoteroid.html">Learn more</a>

</div>

<div>
{% for post in paginator.posts %}

	{% if post.publish != false %}
	<div class="well">
		<p class="lead"><a href="{{ post.url }}">{{ post.title }}</a></p>
		<div>{{ post.description }}</div>
		<div>
			<p align="right">{{ post.date | date : "%Y/%m/%d" }}</p>
		</div>
	</div>
	{% endif %}

{% endfor %}
</div>

<div class="pagination">
	<ul>
		{% if paginator.previous_page %}
			<li>
			{% if paginator.previous_page == 1 %}
				<a href="/">Prev</a>
			{% else %}
				<a href="/page{{paginator.previous_page}}">Prev</a>
			{% endif %}
			 </li>
		{% else %}
			<li class="disabled">Prev</li>
		{% endif %}

		{% if paginator.page == 1 %}
			<li class="active">1
		{% else %}
			<li><a href="/">1</a>
		{% endif %}
		</li>

		{% for count in (2..paginator.total_pages) %}
			{% if count == paginator.page %}
			<li class="active">{{count}}
			{% else %}
			<li><a href="/page{{count}}">{{count}}</a>
			{% endif %}
			</li>
		{% endfor %}

		{% if paginator.next_page %}
			<li><a href="/page{{paginator.next_page}}">Next</a>
		{% else %}
			<li class="disabled">Next
		{% endif %}
		</li>
	</ul>
</div>

</div>